{% load static %}
{% load i18n %}
<!DOCTYPE html<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url "home" %}">ParentWsp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            </div>
          </div>
          {% if user.is_authenticated %}
          <a class="btn btn-primary mx-2" href="{% url "profile" %}">Mi cuenta</a>
          <a class="btn btn-danger" href="{% url "logout" %}">Cerrar sesión</a>
          {% else %}
          <a class="btn btn-primary mx-2" href="{% url "login" %}">Ingresar</a>
          <a class="btn btn-primary" href="{% url "register" %}">Registrarme</a>
          {% endif %}
      </div>
    </nav>
    <br>
    <main class="container mb-3">
      <div class="row">
          <div class="col">
          {% block content %}
          {% endblock %}
          </div>
      </div>
    </main>
    {# bootstrap #}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    {# axios #}
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.3/dist/axios.min.js" integrity="sha256-uiO//DbvswiStsyiG3bbtDcoUqQIGKvRzR6fffIbvs0=" crossorigin="anonymous"></script>
    {# set-interval-async #}
    <script src="https://cdn.jsdelivr.net/npm/set-interval-async"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
